@import "./normalize";
@import "./reset";
@import "./flex";
$bg-color: #80FF00;

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: $bg-color;
  font-family: 'Oswald', sans-serif;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  #name {
    @media only screen and (max-width : 480px) {
      position: absolute;
      top: 48px;
      left: 0;
      transform: rotate(-90deg);
    }

    @media only screen and (max-width : 768px) {
      cursor: default;
      &:after,
      &:before {
        display: none;
      }
    }
  }

  #hola {
    @include align-self(center);
    margin: auto 0 0;

    path {
      transition: all 0.3s;
      cursor: crosshair;

      &:hover {
        fill: white;
      }
    }

    @media only screen and (max-width: 480px) {
      transform: rotate(-90deg);
      width: calc(100vh - 72px);
      margin: 0 0 32px 0;
    }
  }

  .site--footer {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include align-self(flex-end);
    width: 100%;
    padding: 16px 48px 48px;
    margin: auto 0 0;

    @media only screen and (max-width: 991px) {
      padding: 0 16px 16px;
    }

    @media only screen and (max-width: 480px) {
      @include justify-content(center);
    }
  }

  .site--social {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);

    a {
      display: inline-block;
      margin: 0 8px;
      opacity: 0.8;
      transition: all 0.3s;
      cursor: pointer;

      svg {
        path {
          fill: black;
        }
      }

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
      }
    }
  }
}

[spiketip-title][spiketip-length='xl']:after {
  width: 75vw;
}